@CHARSET "UTF-8";


.icon-node{
	background:url('icons/node.gif') no-repeat center center;
}

.icon-home{
	background:url('icons/home.png') no-repeat center center;
}

.icon-tab{
	background:url('icons/pc1.png') no-repeat center center;
}

.icon-close{
	background:url('icons/close2.gif') no-repeat center center;
}


.icon-add2 {
	background: url("icons/add.png") no-repeat center center;
}

.icon-edit2 {
	background: url("icons/edit.png") no-repeat center center;
}

.icon-delete {
	background: url("icons/delete.png") no-repeat center center;
}

.icon-save2 {
	background: url("icons/save.png") no-repeat center center;
}

.icon-cancel2 {
	background: url("icons/cancel.png") no-repeat center center;
}

.icon-setting2 {
	background: url("icons/setting.png") no-repeat center center;
}

.icon-trash {
	background: url("icons/trash.png") no-repeat center center;
}

.icon-userSet{
	background: url("images/userSet.png") no-repeat center center; 
}

.icon-systemSet{ 
	background:url('images/systemSet.png') no-repeat; 
}

.icon-search_sel{ 
	background:url('images/search.png') no-repeat; 
}

.icon-fallback{ 
	background:url('images/fallback.png') no-repeat; 
}

.icon-upload{ 
	background:url('images/upload.png') no-repeat; 
}

.icon-menu{ 
	background:url('images/menu.png') no-repeat; 
}

.icon-logout{ 
	background:url('images/logout.png') no-repeat; 
}

.icon-return{ 
	background:url('images/return_1.png') no-repeat; 
}

.icon-upload{ 
	background:url('images/upload_1.png') no-repeat; 
}

.icon-scan{ 
	background:url('images/sacn.png') no-repeat; 
}

.icon-word{ 
	background:url('images/word.png') no-repeat; 
}

.icon-allselect{ 
	background:url('images/allSelect.png') no-repeat; 
}

.icon-checked{ 
	background:url('images/checked.png') no-repeat; 
}

.icon-unchecked{ 
	background:url('images/unchecked.png') no-repeat; 
}
